h1 {
  font-size: 3rem;
  font-family: 'Assistant', sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: 'Mate', serif;
}
p {
  font-size: 1.5rem;
  font-family: 'Trirong', serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
}
.main-content {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6rem auto 0 auto;
  padding: 0 1rem 1rem 1rem;
  background-color: #eae8ff;
}
.main-content .hospital {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.main-content .section1 {
  width: 48%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .main-content .section1 {
    width: 100%;
    padding: 0 0.5rem;
  }
}
.main-content .section1 .img-container img {
  width: 100%;
  border-radius: 10px;
}
.main-content .section2 {
  width: 48%;
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 500px) {
  .main-content .section2 {
    width: 100%;
    padding: 0 0.5rem;
    flex-direction: column;
  }
}
.main-content .section2 .img-container img {
  width: 100%;
  border-radius: 10px;
}
.navbar-container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: flex-end;
}
.navbar-container .navbar-brand #brand-name {
  font-size: 2.7rem;
  padding-left: 1rem;
  color: #4d85ec;
}
@media (max-width: 400px) {
  .navbar-container .navbar-brand #brand-name {
    display: none;
  }
}
.navbar-container .navbar-brand .fa-vial {
  padding-left: 0.5rem;
  font-size: 4rem;
  color: #4d85ec;
}
.navbar-container .nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 800px) {
  .navbar-container .nav {
    display: none;
  }
}
.navbar-container .nav a {
  font-size: 2.3rem;
  padding-left: 2.3rem;
  transition-duration: 0.3s;
  color: #4d85ec;
}
.navbar-container .nav a:hover {
  color: #90b1ee;
}
.navbar-container .dropdown-nav {
  width: 100%;
  justify-content: flex-end;
  align-self: center;
  display: none;
  padding-right: 1.2rem;
}
.navbar-container .dropdown-nav:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .navbar-container .dropdown-nav {
    display: flex;
  }
}
.navbar-container .dropdown-nav .border {
  width: 5rem;
  background-color: #4d85ec;
  padding: 0.4rem 0.6rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  transition-duration: 0.3s;
}
.navbar-container .dropdown-nav .border:hover {
  background-color: #8eb1f1;
}
.navbar-container .dropdown-nav .fa-bars {
  font-size: 3rem;
}
.mobile-links {
  display: none;
  width: 45%;
  top: 1rem;
  right: 0;
  margin-top: 5.2rem;
  position: fixed;
  font-size: 2rem;
  z-index: 2;
  text-align: center;
}
@media (min-width: 800px) {
  .mobile-links {
    display: none;
  }
}
@media (max-width: 500px) {
  .mobile-links {
    width: 100%;
  }
}
.mobile-links a {
  color: #4d85ec;
  padding-bottom: 1.5rem;
}
.mobile-links a:first-child {
  padding-top: 1rem;
}
.mobile-links a:hover {
  background-color: #929292;
}
.about-main-content {
  margin-top: 4rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
}
.about-main-content section {
  width: 100%;
}
.about-main-content .about-intro {
  width: 100%;
}
.about-main-content .about-intro h1 {
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .about-main-content {
    width: 94%;
  }
}
.about-main-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width) {
  .about-main-content img {
    padding: 0 1rem;
  }
}
.contact-mc {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .contact-mc {
    padding-top: 80px;
  }
}
.contact-mc .title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-mc .dev-block {
  width: 40%;
  height: 250px;
  background-color: #eae8ff;
  text-align: center;
  border-radius: 15px;
  padding-top: 1.5rem;
  transition-duration: 0.5s;
}
@media (max-width: 500px) {
  .contact-mc .dev-block {
    width: 80%;
    margin-bottom: 2rem;
  }
}
.contact-mc .dev-block a {
  font-size: 1.5rem;
  font-family: "Trirong", serif;
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
  padding-bottom: 2rem;
}
.contact-mc .dev-block a:hover {
  color: teal;
}
.contact-mc .dev-block .fa-github,
.contact-mc .dev-block .fa-linkedin {
  padding: 1rem;
  font-size: 5rem;
}
.contact-mc .contact {
  width: 80%;
}
.contact-mc .contact h2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 2rem;
}
.contact-mc .contact label {
  font-size: 2rem;
}
.contact-mc .contact input {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact-mc .contact textarea {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.stories-main-content {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.stories-main-content .title {
  padding: 2rem 0;
  width: 100%;
}
.stories-main-content .title h1 {
  font-weight: bold;
}
#user-reviews {
  margin: 10rem auto 0 auto;
  padding: 2rem;
  width: 90%;
  text-align: center;
  background-color: #848485a1;
  color: #1148af;
}
.carousel {
  width: 100%;
}
.review-panel {
  background-image: url("https://www.hdwallpapers.in/walls/windows_xp_bliss-wide.jpg");
  max-width: 90%;
  height: 330px;
  margin: 0 auto;
  text-align: center;
}
.review-panel .review-text {
  font-weight: bold;
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
}
.review-panel .review-text p {
  padding-top: 1.5rem;
}
.message {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 1rem;
  justify-content: space-around;
}
.message .company-message {
  width: 45%;
  padding: 0.8rem;
  border: 1px solid grey;
  border-radius: 7px;
  box-shadow: 6px 6px 6px grey;
}
@media (max-width: 500px) {
  .message .company-message {
    margin-top: 2rem;
    width: 96%;
  }
}
.message .company-message h2 {
  text-align: center;
  text-decoration: underline;
}
.credit-for-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #343a40;
  padding-top: 2rem;
  transition-duration: 0.5s;
  margin-top: 2rem;
}
.credit-for-images .button-bar {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .credit-for-images .button-bar {
    margin: 0 1rem;
    flex-direction: column;
  }
}
.credit-for-images .button-bar .credit-button {
  font-size: 2rem;
  color: #4d85ec;
}
@media (max-width: 500px) {
  .credit-for-images .button-bar .credit-button {
    margin: 1rem;
  }
}
.credit-for-images .credit {
  display: none;
}
.credit-for-images section {
  width: 30%;
  text-align: center;
  padding: 1.5rem;
}
.credit-for-images p {
  color: white;
}
.credit-for-images a {
  font-size: 2rem;
  transition-duration: 0.3s;
}
.credit-for-images a:hover {
  color: #8eb1f1;
}
.credit-for-images .fa-window-close {
  font-size: 4rem;
  color: white;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
