html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
section {
  max-width: 1000px;
}
section .section1 {
  max-width: 450px;
}
section .section2 {
  max-width: 450px;
}
img {
  max-width: 450px;
}
