.main-content {
  max-width: 1000px;
  display: flex;
  margin: 0 auto 0 15rem;
  justify-content: space-between;
}
.main-content .section1 {
  max-width: 450px;
}
.main-content .section1 h2 {
  font-size: 2rem;
}
.main-content .section1 p {
  font-size: 1.5rem;
}
.main-content .section2 {
  max-width: 450px;
  display: flex;
  flex-direction: column-reverse;
}
.main-content .section2 h2 {
  font-size: 2rem;
}
.main-content .section2 p {
  font-size: 1.5rem;
}
.main-content .section2 .img {
  max-width: 450px;
}
.main-content .section2 .img img {
  width: 100%;
}
.credit {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
img {
  max-width: 450px;
}
.fa-vial {
  position: fixed;
  padding: 2.5rem 0 0 2.5rem;
  font-size: 5rem;
}
.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.navigation a {
  padding: 1.5rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.navigation a:nth-child(1n+2) {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.navigation a:hover {
  color: #f1f1f1;
}
.navigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
