.about-main-content {
  margin-top: 4rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    // padding-top: 100px;
  }
  section {
    width: 100%;
  }

  .about-intro {
    width: 100%;
    h1 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    width: 94%;
    // padding-top: 100px;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    @media (max-width) {
      padding: 0 1rem;
    }
  }
}
