
.about-main-content {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    section {
        width: 100%;

    }

    .about-intro{
        width: 100%;
        h1{
            width: 100%;
            text-align: center;
        }
    }

    @media ( max-width: 500px ){
        width: 94%;
        padding-top: 50px;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        @media ( max-width ) {
            padding: 0 1rem;
        }
    }
}