<<<<<<< HEAD
=======

>>>>>>> cb7bccad781a44d4dd3d8c94e5eee67e88842954
section{
    max-width: 1000px;

    .section1{
        max-width: 450px;
    }
    
    .section2{
        max-width: 450px;
    }
    
}

img{
    max-width: 450px;
}