.main-content{
    max-width: 1000px;
    display: flex;
    margin: 0 auto 0 15rem;
    justify-content: space-between;


    .section1{
        max-width: 450px;
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
    .section2{
        max-width: 450px;
        display: flex;
        flex-direction: column-reverse;


        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        .img{
            max-width: 450px;
            img{
                width: 100%;
            }
        }
    }
    
}
.credit{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

img{
    max-width: 450px;
}